.comment-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* bottom: 0; */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.comment-modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 80%;
    position: relative;
    max-height: 80vh; 
    overflow-y: auto; 
}

.comments-container {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
}

.comment-box {
    background: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comment-form {
    display: flex;
    flex-direction: column;
}

.comment-input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment-button {
    padding: 10px;
    background-color:  #6F4E37;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.comment-button:hover{
    background: linear-gradient(to right, #9F8170, #D5CFAC);
}

